In [3]:
import pandas as pd
import numpy as np

In [5]:
df = pd.read_excel(r"C:\Users\user\Desktop\machakos Unemployment rate\machakos_unemployment_rate\machakos_unemployment_rate\Final preprocessing dataset.xlsx", header=1)
df.head()

,Year,Unemployment Rate (%),Inflation Rate,Labour Force,Nominal GDP prices (Ksh Million),Annual GDP growth (%),Real GDP prices (Ksh Million),population growth,"Population, total",Urban population growth (annual %),Adjusted net national income per capita (annual % growth),Adjusted savings: education expenditure (current US$),"Labor force participation rate for ages 15-24, female (%) (modeled ILO estimate)","Labor force participation rate for ages 15-24, male (%) (modeled ILO estimate)","Unemployment, female (% of female labor force) (modeled ILO estimate)","Unemployment, male (% of male labor force) (modeled ILO estimate)","Unemployment, total (% of total labor force) (modeled ILO estimate)"
0,2000,0.0313,9.98,12114213,967838,0.0,982855,2.92,30851606,0.07,-2.81,645127096.87,50.46,46.89,3.37,2.89,3.13
1,2001,0.0307,5.73,12601491,1020022,3.8,1020111,3.03,31800343,1.95,-1.09,656047739.08,50.03,46.87,3.31,2.84,3.07
2,2002,0.0309,1.97,13103364,1035374,0.5,1025583,3.03,32779823,0.67,-2.34,755517161.8,49.61,46.84,3.33,2.86,3.09
3,2003,0.0304,9.81,13606235,1131783,2.9,1055658,2.97,33767122,0.49,-2.44,897571127.36,49.18,46.82,3.28,2.82,3.04
4,2004,0.0300,11.80,14125163,1274328,5.1,1109338,2.99,34791836,5.82,2.7,1011467728.44,48.76,46.79,3.23,2.77,3.00